.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    grid-template-areas: "header header" "n content";
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background: black;
}

.header img {
    display: block;
   height: 60px;
    width: 60px;
}

.nav {
    grid-area: n;
    background: cornflowerblue;
}

.content {
    grid-area: content;
    background: brown;
}
.content img {
    width: 100%;
    height: auto;
}
